body {
  background-color: #dfdef6;
  color: black;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 52px;
  line-height: 36px;
  text-align: center;
}
h2 {
  margin: 0 0 5px;
  font-size: 32px;
}
select {
  background-color: rgba(153, 144, 221, 15%);
  border-radius: 4px;
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 10px;
}
footer {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  opacity: 0.7;
  text-align: center;
}
a {
  color: #9990dd;
  font-weight: 300;
}
.container {
  background-color: rgb(255, 255, 255, 90%);
  border: 2px solid #c7c4ee;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(168, 166, 180, 0.1);
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}

.cities {
  border-bottom: 1px dashed rgba(0, 0, 0, 30%);
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0 px;
}

.cities:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.date {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
  opacity: 0.7;
}
